extends ../../layouts/default

include ../widget/markdown_editor

block content
	#forum-page.container: .jumbotron

		include header

		.sub-header
			h3: a(href="/forum/" + forum.key)= forum.name
			h5!= forum.description

		#forum-topic-create.alert.alert-bn
			div Écrire un nouveau sujet dans le forum #[a(href="/forum/" + forum.key) #[b #{forum.name}]]
			hr

			.form-group
				label Sujet
				input#topic-field(type='text').form-control

			.right
				if templates && templates.length
					.btn-group
						button.btn.btn-default.btn-group-sm.dropdown-toggle(type='button', data-toggle='dropdown') Utiliser un template de sujet
							span.caret
						ul.dropdown-menu.dropdown-menu-right
							each template in templates
								li: button.btn.btn-link.template-button.inner(type='button' templateId=template._id)= template.name
				if user && rightKeysSet.has("image-library")
					.btn-group
						a.btn.btn-default.btn-group-sm(onclick="window.open('/library', 'libraryview', 'width=760, height=600'); return false;") Librairie d'images

			.form-group
				label Message
				+editor("topic-content", 10, "Contenu du sujet ...")

			if forum.tags && forum.tags.length
				label Thèmes
				select.form-control#topic-tags(multiple)
					each tag in forum.tags
						if !excludedTags.includes(String(tag.id))
							option(value=tag.id) #{tag.name} 
								if tag.groups && tag.groups.length
									small (Thème avec restriction de droits)
								else
									small (Thème public)
				#topic-search-go
					p: i Les thèmes permettent d'une part de ranger les sujets mais aussi de restreindre leur visiblité si des droits sont associés à ces thèmes.
						br
						| Vous pouvez sélectionner plusieurs thèmes pour un même sujet.

			.form-actions
				//button(id="draft-button" disabled).btn.btn-default Sauvegarder le brouillon
				button(id="create-button" forumId=forum.id).btn.btn-default Envoyer


block js
	script.
		const topicTemplates = !{templates_string};
	script(src="/compiled/ForumTopicCreateLogic_client.js")
