extends ../../layouts/default

block content
	#forum-page.container: .jumbotron

		include header

		.head-foot
			h3=topic.name
			.right
				if totalPages > 1
					include pager

		if rightKeysSet && rightKeysSet.has("forum-articles")
			#forum-topic-article-modal
			#forum-topic-selection-modal

		#forum-topic
			each message, count in topic_messages
				.message
					if count == topic_messages.length - 1
						#message-last
					.postbody
						.author par 
							if message.createdBy
								b: a(href="/member/" + message.createdBy.key)= message.createdBy.username
							else
								b= message.author
							|  » #{dateformat(message.createdAt, "mmmm dS, yyyy, h:MM:ss TT")}
						.content(id="content-" + count)!= message.content
						textarea.original(disabled id="original-" + count style="display: none;")= message.original
						if message.createdBy && message.createdBy.sign
							hr
							div!= message.createdBy.sign

						.actions.btn-group
							button.btn.btn-default.btn-group-sm(type='button' disabled) Citer
							button.btn.btn-default.btn-group-sm.dropdown-toggle(type='button', data-toggle='dropdown')
								span.caret
							ul.dropdown-menu
								li: button.btn.btn-link.switch-button(forId="" + count) Afficher/Cacher Markdown
									if count === 0 && rightKeysSet && rightKeysSet.has("forum-articles")
										li.divider(role='separator')
										li: button.btn.btn-link.publish_buttons(topicKey=topic.key) Publier en tant qu'article
										li: button.btn.btn-link.selection_buttons(topicKey=topic.key) Ajouter à "En direct du forum"
									if rightKeysSet && rightKeysSet.has("forum-supprimer")
										li.divider(role='separator')
										if count === 0
											li: button.btn.btn-link.publish_buttons.remove-button(topicId=topic.id) Supprimer sujet
										else
											li: button.btn.btn-link.publish_buttons.remove-button(messageId=message.id) Supprimer message

					.postprofile
						if message.createdBy
							img.avatar(src="/images/avatar-" + message.createdBy.key)
							div: a(href="/member/" + message.createdBy.key): b= message.createdBy.username

						else
							div= message.author

			.head-foot
				p: a(href="#"): b
					i(class="fa fa-angle-double-up") 
					|  haut de page
				.right
					if totalPages > 1
						include pager
			
			if user
				.alert.alert-info
					div Répondre
					hr
					form(method='post')
						input(type='hidden', name='action', value='post-message')

						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Message
							textarea(name='message', rows=5).form-control= formData.message

						div: a(href="https://openclassrooms.com/courses/redigez-en-markdown" target="_blank") Vous pouvez utiliser la synthaxe  Markdown pour mettre en page votre texte.

						.form-actions
							button(type='submit', name="preview").btn.btn-primary Aperçu
							button(type='submit', name="post").btn.btn-primary Envoyer

			else
				.alert.alert-info: a(href="/auth") Connectez-vous pour participer à cette discussion
			
block js
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js")
	script(src="/js/notify.min.js")
	script(src="/compiled/ForumLogic_client.js")
