extends ../../layouts/default

block content
	#forum-page.container: .jumbotron

		include header

		.head-foot
			h3=topic.name
			.right
				if totalPages > 1
					include pager

		if rightKeysSet && rightKeysSet.has("forum-articles")
			#forum-topic-article-modal

		#forum-topic
			each message, count in topic_messages
				.message
					if count == topic_messages.length - 1
						#message-last
					.postbody
						.author par 
							if message.createdBy
								b: a(href="/member/" + message.createdBy.key)= message.createdBy.username
							else
								b= message.author
							|  » #{dateformat(message.createdAt, "mmmm dS, yyyy, h:MM:ss TT")}
						.content!= message.content

						.actions.btn-group
							button.btn.btn-default.btn-group-sm(type='button' disabled) Citer
							button.btn.btn-default.btn-group-sm.dropdown-toggle(type='button', data-toggle='dropdown')
								span.caret
							ul.dropdown-menu
								li: a(href='#') Rapporter
									li.divider(role='separator')
									if count === 0 && rightKeysSet && rightKeysSet.has("forum-articles")
										li: button.btn.btn-link.publish_buttons(topicKey=topic.key) Publier article

					.postprofile
						if message.createdBy
							if message.createdBy.avatar
								img(src=message.createdBy.avatar.secure_url).avatar
							div: a(href="/member/" + message.createdBy.key): b= message.createdBy.username

						else
							div= message.author

			.head-foot
				p: a(href="#"): b
					i(class="fa fa-angle-double-up") 
					|  haut de page
				.right
					if totalPages > 1
						include pager
			
			if user
				.alert.alert-info
					div Répondre
					hr
					form(method='post')
						input(type='hidden', name='action', value='post-message')

						.form-group(class=validationErrors.message ? 'has-error' : null)
							label Message
							textarea(name='message', rows=5).form-control= formData.message

						div: a(href="https://openclassrooms.com/courses/redigez-en-markdown" target="_blank") Vous pouvez utiliser la synthaxe  Markdown pour mettre en page votre texte.

						.form-actions
							button(type='submit', name="preview").btn.btn-primary Aperçu
							button(type='submit', name="post").btn.btn-primary Envoyer

			else
				.alert.alert-info: a(href="/auth") Connectez-vous pour participer à cette discussion
			
block js
	if rightKeysSet && rightKeysSet.has("forum-articles")
		script(src="/compiled/ForumTopicArticle_client.js")
