extends ../../layouts/default

block content
	#forum-page.container: .jumbotron

		include header.pug
			
		if discord_announcements && discord_announcements.length
			.forum-group
				.forum-group-title
					span
						i(class="fa fa-caret-right")
						| Dernières annonces officielles
				ul.list-group
					each message in discord_announcements
						li.list-group-item.annonce-officielle
							!= message.content
							| #[small.date #{dateformat(new Date(message.createdTimestamp), "dd mmm yyyy, HH:MM")}]

		#forums-dates
			- const today = new Date();
			p Nous sommes le #{dateformat(today, "dddd, d mmmm yyyy, HH:MM")}

		#forum-categories
			if !groupOrder.length
				center.alert.alert-info Aucun forum disponible
			else
				each group in groupOrder
					.forum-group
						.forum-group-title
							span
								i(class="fa fa-caret-right")
								= group
						each forum in groups[group]
							.forum-category
								i.markup(class="fa fa-comments fa-lg " + (user && forum.unread ? "unread" : ""), title=(user && forum.unread ? "Messages non lus" : "Aucun message non lu"))
								
								a.click-mobile.fa.fa-chevron-right(class=(user && forum.unread ? "unread" : "") to="/forum/" + forum.key)
	
								.cat-title
									a(class="main" href="/forum/" + forum.key)
										= forum.name
									br
									.description!= forum.description
									if forum.tags && forum.tags.length
										small.theme-title Thèmes:&nbsp;
											for tag in forum.tags
												small.pre: a(href="/forum/" + forum.key + "?tag=" + tag._id).theme= tag.name
										
	
								.cat-md
									= forum.topics
									|  sujets
	
								if forum.lasttopic && forum.lasttopic.last
									- const message = forum.lasttopic.last;
									.cat-last Dernier message par  
										b
											if message.createdBy
												a(href="/member/" + message.createdBy.key)=message.createdBy.username
											else
												span [?]
										br
										b: a(href="/forum-topic/" + forum.lasttopic.key + "/last#message-last")=dateformat(message.createdAt, "d mmm yyyy à HH:MM")
										i(class="fa fa-commenting " + (user && forum.unread ? "unread" : ""))
		#forum-footer.sub-header
			h4 Qui est en ligne
			p Au total il y a eut #[b #{last_users.length}] utilisateur(s) actif(s) ces 5 dernières minutes
			each user in last_users
				|  •  
				a(href="/member/" + user.key): b #{user.username}
				
			
			h4 Statistiques
			p #[b #{total_messages || 0}] message(s) • #[b #{total_topics || 0}] sujet(s) • #[b #{total_members || 0}] membre(s) 
				if most_recent_user
					| • L’utilisateur enregistré le plus récent est 
					a(href="/member/" + most_recent_user.key): b #{most_recent_user.username}
			
block js
	script.
		$('.click-mobile').click(function(e) {
			location.href = $(e.target).attr("to");
		});
	script(src="/compiled/ForumsHeaderLogic_client.js")
