extends ../../layouts/default

block content
	.container: .jumbotron

		include header.pug

		#forums-dates
			p Nous sommes le #{today}
			p Dernière visite: #{last_visit}

		#forum-categories
			each group in groupOrder
				div(class="forum-group")
					div(class="forum-group-title")
						a
							i(class="fa fa-caret-right")
							= group
					each forum in groups[group]
						div(class="forum-category")
							i(class="fa fa-comments fa-lg")

							.cat-title
								a(class="main" href=("/forum/" + forum.key))
									= forum.name
								br
								.description=forum.description

							.cat-md
								= forum.topics
								|  sujets

							if forum.lasttopic && forum.lasttopic.last
								- const message = forum.lasttopic.last;
								.cat-last
									b: a(href="/forum-topic/" + forum.lasttopic.key)=dateformat(message.createdAt, "dd/mm/yyyy HH:MM")
									|  par 
									b
										if message.createdBy
											a(href="/member/" + message.createdBy.key)=message.createdBy.username
										else
											span [?]
									.message "#{message.content}"
