extends ../../layouts/default

block content
	#forum-page.container: .jumbotron

		include header
			
		if forum
			
			.sub-header
				h3= forum.name
				.row
					.col.col-sm-6
						h5!= forum.description
					.col.col-sm-6.right
						if user
							button.btn.btn-link#forum-mark-all-read(forum=forum._id)
								b Marquer tous les sujets comme lu

			.forum-actions
				
				.head-foot.row
					.col.col-sm-4
						if canCreate
							a(href="/forum-topic-create/" + forum.key).btn.btn-default Nouveau sujet
					.center.col.col-sm-4
						if forum.tags && forum.tags.length
							- const filteredTags = forum.tags.filter(function(e){return !excludedTags.includes(e._id + '')});
							if filteredTags.length > 0
								.input-group
									span.input-group-addon Thème
									select.form-control#theme-selector-select
										option(value="0") Tous
										each tag in filteredTags
											if currentTag === String(tag.id)
												option(value=tag.id selected)= tag.name
											else
												option(value=tag.id)= tag.name
									span.input-group-btn
										button#theme-selector-button.btn.btn-default(type="button") Go !
							
					.right.col.col-sm-4
						if totalPages > 1
							include pager

			if announcements && announcements.length
				.forum-group
					.forum-group-title
						span
							i(class="fa fa-caret-right")
							| Annonces
					each topic in announcements
						include forum_topic_vignette
			
			.forum-group.alone
				.forum-group-title
					span
						i(class="fa fa-caret-right")
						| Sujets
					span.right Total sujets : #{totalTopics}
				
				if topics.length
					each topic in topics
						include forum_topic_vignette
				else
					.empty Aucun sujet dans ce forum
						
			.forum-actions.row
				.col.col-sm-6
					if canCreate
						a(href="/forum-topic-create/" + forum.key).btn.btn-default Nouveau sujet
				.right.col.col-sm-6.right
					if totalPages > 1
						include pager

		else
			
			.alert.alert-danger 
				h4 404: Forum '#{forumKey}' introuvable
				p Désolé, ce forum n'existe pas, ou plus.
				p: a(href="/forums") Retour à l'accueil des forums

block js
	script.
		var select = $('#theme-selector-select').select2({
			width: '100%'
		});
		$('#theme-selector-button').click(function() {
			
			var value = select.val();
			
			if(value !== "0")
				location.href = "/forum/#{forum.key}?tag=" + value;
			else
				location.href = "/forum/#{forum.key}";
		});
	script.
		$('.click-mobile').click(function(e) {
			location.href = $(e.target).attr("to");
		});
	script(src="/compiled/ForumsHeaderLogic_client.js")
