extends ../../layouts/default

mixin topicMessage(message, count)
	.message
		if count === topic_messages.length - 1
			#message-last
		.postbody
			.author par 
				if message.createdBy
					b: a(href="/member/" + message.createdBy.key)= message.createdBy.username
				else
					b= message.author
				- const postDate = dateformat(message.createdAt, "dd mmmm yyyy, HH:MM");
				- const updateDate = dateformat(message.updatedAt, "dd mmmm yyyy, HH:MM");
				span(id="date-" + count)  » #{postDate} 
					if postDate !== updateDate
						| » #[small: i Modifié le #{updateDate} par #[b: a(href="/member/" + message.updatedBy.key)= message.updatedBy.username]]

			.content(id="content-" + count)!= message.content
			textarea.original(disabled id="original-" + count style="display: none;")= message.original
			if message.createdBy && message.createdBy.sign
				.sign
					hr
					div!= message.createdBy.sign

			if user
				.actions.btn-group
					if canReply && (!topic.flags.closed || canModerate)
						button.btn.btn-default.btn-group-sm.quote-button(type='button' forId="" + count author=message.author) Citer
					button.btn.btn-default.btn-group-sm.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu.dropdown-menu-right
						li: button.btn.btn-link.switch-button(forId="" + count) Afficher/Cacher Markdown
						if message.canEdit
							li: button.btn.btn-link.edit-button(forId="" + count messageId=message._id) Éditer
						if canModerate
							li.divider
							if count === 0
								li: button.btn.btn-link(id="topic-article-button" topicKey=topic.key topicName=topic.name) Publier en tant qu'article
								li: button.btn.btn-link(id="topic-selection-button" topicKey=topic.key) Ajouter à "En direct du forum"
								li.divider
								li: button.btn.btn-link(id="topic-pin-button" topicKey=topic.key)= topic.flags.pinned ? "Retirer épingle" : "Épingler le sujet"
								li: button.btn.btn-link(id="topic-announce-button" topicKey=topic.key)= topic.flags.announcement ? "Retirer annonce" : "Placer le sujet en annonce"
								li: button.btn.btn-link(id="topic-lock-button" topicKey=topic.key)= topic.flags.closed ? "Déverrouiller le sujet" : "Verrouiller le sujet"
								li.divider
								li: button.btn.btn-link.publish_buttons.remove-button(topicId=topic.id topicKey=topic.key forumKey=forum.key) Supprimer sujet
							else
								li: button.btn.btn-link.publish_buttons.remove-button(messageId=message.id) Supprimer message
		.postprofile
			if message.createdBy
				img.avatar(src="/images/avatar-" + message.createdBy.key + "?default=avatar")
				div: a(href="/member/" + message.createdBy.key): b= message.createdBy.username
				.message-count
					b Messages: 
					| #{message.createdBy.posts || 0}
				if message.createdBy.medals && message.createdBy.medals.length
					br
					b Décorations:
					br
					each medal in message.createdBy.medals
						a.topopover(data-toggle="popover" data-trigger="focus" title=medal.name data-content=medal.description href="#")
							img(src="/images/medals/" + medal.icon title="Clique pour afficher les infos").medal-icon
			else
				div= message.author



block content

	#message-edit-modal.modal.fade(role='dialog')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') ×
					h4.modal-title Éditer message
				.modal-body
					.form-group(id="reply-section")
						label Message
						textarea(rows=5).form-control#message-edit-field

				.modal-footer
					button.btn.btn-default(type='button' data-dismiss='modal') Annuler
					button.btn.btn-primary(type='button' id="message-edit-modal-button") Sauvegarder
	
	#forum-page.container: .jumbotron

		include header

		.head-foot
			h3= topic.name
				.flags
					if topic.flags.announcement
						span.label.label-warning #[i.fa.fa-bullhorn] Annonce
					if topic.flags.pinned
						span.label.label-primary #[i.fa.fa-thumb-tack] Épinglé
					if topic.flags.closed
						span.label.label-default #[i.fa.fa-lock] Verrouillé
					if topic.publish && topic.publish.date
						span.label.label-success: a(href="/article/" + topic.key) #[i.fa.fa-pencil] Publié en article
			.right
				if totalPages > 1
					include pager

		if canModerate
			include topic_article_popup

		if canModerate
			include topic_selection_popup

		#forum-topic
			each message, count in topic_messages
				+topicMessage(message, count)

			.head-foot
				p: a(href="#"): b
					i(class="fa fa-angle-double-up")
					|  haut de page
				.right
					if totalPages > 1
						include pager

			if user
				if canReply && (!topic.flags.closed || canModerate)
					.alert.alert-bn
						.form-group(id="reply-section")
							label Répondre
							textarea(id="post-textarea" rows=5 placeholder=(topic.flags.closed ? "Ce sujet est fermé mais vous pouvez néanmoins y répondre car vous avez les droits de modération." : "")).form-control

						.form-actions
							button(id="post-button" topicId=topic.id).btn.btn-default Envoyer
				else
					.alert.alert-bn Vous n'avez pas le droit de répondre à ce sujet.
			else
				.alert.alert-bn: a(href="/auth?from=/forum-topic/" + topic.key + "#reply-section") Connectez-vous pour participer à cette discussion

block js
	script(src="/compiled/ForumTopicLogic_client.js")
	script.
		$('.topopover').click(function (e) {
			e.preventDefault()
		}).popover();
