extends ../../layouts/default

block content
	#forum-page.container: .jumbotron

		include header

		h3=forum.name
		h5=forum.description

		if preview
			.alert.alert-warning
				div Aperçu: 
					b=formData.name
				hr
				!=preview

		#forum-topic-create.alert.alert-info
			div Écrire un nouveau sujet
			hr

			form(method='post')
				input(type='hidden', name='action', value='create-post')

				.form-group(class=validationErrors.name ? 'has-error' : null)
					label Sujet
					input(type='text', name='name', value=formData.name).form-control

				.form-group(class=validationErrors.message ? 'has-error' : null)
					a.abs_right(href="https://openclassrooms.com/courses/redigez-en-markdown" target="_blank") Vous pouvez utiliser la synthaxe  Markdown pour mettre en page votre texte.
					label Message
					textarea(name='message', rows=10).form-control= formData.message
				
				if forum.tags && forum.tags.length
					label Marqueur
					select.form-control(name='tag')
						option(value="none") Aucun
						each tag in forum.tags
							if formData.tag === tag.id
								option(value=tag.id selected)= tag.name
							else
								option(value=tag.id)= tag.name
				
				.form-actions
					button(type='submit', name="save").btn.btn-primary Sauvegarder le brouillon
					button(type='submit', name="preview").btn.btn-primary Aperçu
					button(type='submit', name="post").btn.btn-primary Envoyer
		
