.forum-category
	
	i.markup(class="fa fa-comments fa-lg " + (user && topic.unread ? "unread" : ""), title=(user && topic.unread ? "Messages non lus" : "Aucun message non lu"))

	.cat-title
		.flags
			if topic.flags.announcement
				span.label.label-warning(title="Annonce"): i.fa.fa-bullhorn
			if topic.flags.pinned
				span.label.label-primary(title="Épinglé"): i.fa.fa-thumb-tack
			if topic.flags.closed
				span.label.label-default(title="Verrouillé"): i.fa.fa-lock
			if topic.publish && topic.publish.date
				a(href="/article/"+topic.key).label.label-success(title="Publié en article"): i.fa.fa-pencil
			
		a.main(href=("/forum-topic/" + topic.key))= topic.name
		br
		.description
			| par 
			- const createdBy = topic.createdBy;
			if createdBy
				a(href="/member/" + createdBy.key)= createdBy.username
			else
				span [?]
			|  » 
			=dateformat(topic.createdAt, "dd/mm/yyyy HH:MM")
			if topic.parent
				|  » dans 
				a(href="/forum/" + topic.parent.key)= topic.parent.name
			if topic.tags && topic.tags.length
				.tags
					each tag in topic.tags
						- let tagInfo = tagMap[tag];
						span.label.label-default= tagInfo.name
				
	.cat-md
		if topic.stats.replies
			| #{topic.stats.replies} réponses
		else
			| Pas de réponse
		|  • #{topic.stats.views} vues

	if topic.last
		- const message = topic.last
		- const createdBy = message.createdBy;
		.cat-last Dernier message par 
			b
				if createdBy
					a(href="/member/" + createdBy.key)=createdBy.username
				else if message.author
					span [#{message.author}]
				else
					span [?]
			br
			b: a(href="/forum-topic/" + topic.key + "#message-last")=dateformat(message.createdAt, "d mmm yyyy à HH:MM")
			i(class="fa fa-commenting " + (user && topic.unread ? "unread" : ""))
