extends ../../layouts/default

mixin reactions(message)
	if message.displayReactions && Object.keys(message.displayReactions).length
		.reactions
			- const reacts = Object.keys(message.displayReactions);
			each r in reacts
				- const reactUsers = message.displayReactions[r];
				- const userString = reactUsers.join(', ');
				span.label.label-default.reaction-button(data-toggle="tooltip" title=userString) #{r} x #{reactUsers.length}

mixin topicMessage(message, count, topic, messageId)
	.message
		if count === topic_messages.length - 1
			#message-last
		.postbody
			.author par 
				if message.createdBy
					b: a(href="/member/" + message.createdBy.key)= message.createdBy.username
				else
					b= message.author
					
				- const postDate = dateformat(message.createdAt, "dd mmmm yyyy, HH:MM");
				- const updateDate = dateformat(message.updatedAt, "dd mmmm yyyy, HH:MM");
				if message.author_ip && canModerate
					small &nbsp;(IP: #{message.author_ip})&nbsp;
				a(href="/forum-topic/" + topic.key + "?message=" + message._id + "#direct" id=messageId === String(message._id) ? `direct` : ""): span(id="date-" + count)  » #{postDate} 
					if postDate !== updateDate
						| » #[small: i Modifié le #{updateDate} par #[b: a(href="/member/" + message.updatedBy.key)= message.updatedBy.username]]

			.content(id="content-" + count)!= message.content
			textarea.original(disabled id="original-" + count style="display: none;")= message.original
			
			+reactions(message)
			hr
			if message.createdBy && message.createdBy.sign
				.sign
					div!= message.createdBy.sign
				
			if user
				.actions.btn-group
					if canReply && (!topic.flags.closed || canModerate)
						button.btn.btn-default.btn-group-sm.quote-button.outer(type='button' forId="" + count author=message.author) Citer
					.btn-group(data-toggle="tooltip" title="Réaction rapide")
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown' style="padding: 2px 10px;") 👋️
						ul.dropdown-menu.dropdown-menu-right
							li: button.btn.btn-link.inner.react-action(type='button' reaction="👍" mid=String(message._id)) 👍 Pour !
							li: button.btn.btn-link.inner.react-action(type='button' reaction="👎" mid=String(message._id)) 👎 Contre !
							li: button.btn.btn-link.inner.react-action(type='button' reaction="🤟" mid=String(message._id)) 🤟 Ca déchire !
							li: button.btn.btn-link.inner.react-action(type='button' reaction="💩" mid=String(message._id)) 💩 C'est de la merde !
							li: button.btn.btn-link.inner.react-action(type='button' reaction="😱" mid=String(message._id)) 😱 OMG !
							li: button.btn.btn-link.inner.react-action(type='button' reaction="🤔" mid=String(message._id)) 🤔 Perplexe...
					button.btn.btn-default.btn-group-sm.dropdown-toggle(type='button', data-toggle='dropdown')
						span.caret
					ul.dropdown-menu.dropdown-menu-right
						li: button.btn.btn-link.quote-button.inner(type='button' forId="" + count author=message.author) Citer
						li: button.btn.btn-link.switch-button(forId="" + count) Afficher/Cacher Markdown
						if message.canEdit
							if currentPage === 1 && count === 0
								li: button.btn.btn-link.edit-topic-button(forId="" + count) Modifier sujet
							li: button.btn.btn-link.edit-button(forId="" + count messageId=message._id) Modifier message
						if canModerate
							li.divider
							if currentPage === 1 && count === 0
								li: button.btn.btn-link(id="topic-article-button" topicKey=topic.key topicName=topic.name) Publier en tant qu'article
								li: button.btn.btn-link(id="topic-selection-button" topicKey=topic.key) Ajouter à "En direct du forum"
								li: button.btn.btn-link(id="topic-unpublish-button" topicKey=topic.key) Dépublier
								li.divider
								li: button.btn.btn-link(id="topic-shout-button" topicKey=topic.key) Annoncer sur Discord
								li.divider
								li: button.btn.btn-link(id="topic-pin-button" topicKey=topic.key)= topic.flags.pinned ? "Retirer épingle" : "Épingler le sujet"
								li: button.btn.btn-link(id="topic-announce-button" topicKey=topic.key)= topic.flags.announcement ? "Retirer annonce" : "Placer le sujet en annonce"
								li: button.btn.btn-link(id="topic-lock-button" topicKey=topic.key)= topic.flags.closed ? "Déverrouiller le sujet" : "Verrouiller le sujet"
								li.divider
								li: button.btn.btn-link.publish_buttons.remove-button(topicId=topic.id topicKey=topic.key forumKey=forum.key) Supprimer sujet
							else
								li: button.btn.btn-link.publish_buttons.remove-button(messageId=message.id) Supprimer message
					
		.postprofile
			if message.createdBy
				img.avatar(src="/images/avatar-" + message.createdBy.key + "?default=avatar")
				.name
					a(href="/member/" + message.createdBy.key): b= message.createdBy.username
					p
						- let ok = false;
						each group in message.createdBy.permissions.groups
							if group.isBN && !ok
								- ok = true;
								span.label.label-success.member-group(style="background-color: " + group.color + ";")= group.name
							
				.message-count
					b Messages: 
					| #{message.createdBy.posts || 0}
					if message.createdBy.presence && message.createdBy.presence.status
						br
						b #[i.fab.fa-discord] Discord: 
						if message.createdBy.presence.status === "online"
							b.discord-status(style="color: green;") En ligne
						else if message.createdBy.presence.status === "dnd"
							b.discord-status(style="color: red;") Occupé
						else if message.createdBy.presence.status === "idle"
							b.discord-status(style="color: orange;") Absent
						else
							span.discord-status Hors-ligne
						if message.createdBy.presence.game
							br
							b Actuellement sur&nbsp;
							span #{message.createdBy.presence.game.name}
						
				if message.createdBy.medals && message.createdBy.medals.length
					.decorations
						b Décorations:
						br
						each medal in message.createdBy.medals
							a.topopover(data-toggle="popover" data-trigger="focus" title=medal.name data-content=medal.description href="#")
								img(src=medal.icon title="Clique pour afficher les infos").medal-icon
				
			else
				div= message.author

include ../widget/markdown_editor

block content

	#forum-page.container: .jumbotron

		include header

		.sub-header.head-foot
			h3= topic.name
			.forum-actions.row
				.col.col-sm-6.flags
					if topic.tags && topic.tags.length
						.tags-topic
							each tag in topic.tags
								span.label.label-default #{tag.name}
					if topic.flags.announcement
						span.label.label-warning #[i.fa.fa-bullhorn] &nbsp; Annonce
					if topic.flags.pinned
						span.label.label-primary #[i.fas.fa-thumbtack] &nbsp; Épinglé
					if topic.flags.closed
						span.label.label-default #[i.fa.fa-lock] &nbsp; Verrouillé
					if topic.publish && topic.publish.date
						span.label.label-success: a(href="/article/" + topic.key) #[i.fas.fa-pencil-alt] &nbsp; Publié en article

				.col.col-sm-6.right
					if totalPages > 1
						include pager

		include topic_message_edit_popup
		include topic_topic_edit_popup

		if canModerate
			include topic_article_popup
			include topic_selection_popup

		#forum-topic
			each message, count in topic_messages
				+topicMessage(message, count, topic, messageId)

			.forum-actions.row
				.col.col-sm-6
					p: a(href="#"): b
						i(class="fa fa-angle-double-up")
						|  haut de page
				.col.col-sm-6.right
					if totalPages > 1
						include pager

			if user
				if canReply && (!topic.flags.closed || canModerate)
					.alert.alert-bn
						.form-group(id="reply-section")
							label Répondre
							+editor("post-textarea", 5, (totalPages > 1 && currentPage !== totalPages ? "Attention, vous n'êtes pas à la dernière page et peut-être n'avez vous pas vu l'intégralité de la discussion." : topic.flags.closed ? "Ce sujet est fermé mais vous pouvez néanmoins y répondre car vous avez les droits de modération." : "Répondre au sujet ..."))
						
						if rightKeysSet.has("image-library")
							.btn-group.pull-right
								a.btn.btn-default.btn-group-sm(onclick="window.open('/library', '_blank'); return false;") Librairie d'images

						.form-actions
							button(id="post-button" topicId=topic.id topicKey=topic.key).btn.btn-default Envoyer
				else
					.alert.alert-bn Vous n'avez pas le droit de répondre à ce sujet.
			else
				.alert.alert-bn: a(href="/auth?from=/forum-topic/" + topic.key + "#reply-section") Connectez-vous pour participer à cette discussion

block js
	script.
		const topicInfo = !{topic_json};
	script(src="/compiled/ForumTopicLogic_client.js")
	script.
		$('.topopover').click(function (e) {
			e.preventDefault()
		}).popover();
