extends ../../layouts/default

block css
	link(rel="stylesheet" href="/js/timeline/animate.min.css")
	link(rel="stylesheet" href="/js/timeline/default.css")
	link(rel="stylesheet" href="/js/timeline/frst-timeline-style-8.css")
	script(src="/js/timeline/modernizr.js")
	
block content
	#timeline.container: .jumbotron

		h2 Ligne du temps
		p Cette ligne du temps recence les grandes étapes et les faits d'armes des BN.

		h3.today: center
			| Aujourd'hui
			br
			=dateformat(today, "d mmmm yyyy")
		
		.frst-container(data-animation-name="fadeIn")
			.frst-timeline.frst-timeline-style-8.frst-date-opposite.frst-alternate
				
				.frst-timeline-block.frst-timeline-label-block(data-animation="fadeIn")
					.frst-labels.frst-start-label
						span= dateformat(today, "yyyy")
				
				each entry, i in data
					.frst-timeline-block(data-animation="fadeIn" class=i % 2 == 1 ? 'frst-even-item' : 'frst-odd-item')
						.frst-timeline-img
							span
						.frst-timeline-content
							.frst-timeline-content-inner
								h2= entry.title
								span(class="frst-date")= dateformat(entry.startDate, "d mmmm yyyy")
								p!= entry.summary
								
								if entry.presence && entry.presence.length
									.presence: a(data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content=entry.presencetext): b
										| #{entry.presence.length} BNs étaient présents ce jour là. 
										if entry.realDate
											i (#{dateformat(entry.realDate, "dd-mm-yyyy")})


block js
	script(src='/js/timeline/frst-timeline.js')
		
	script.
		$(function () {
			$('[data-toggle="popover"]').popover()
		});
