extends ../../layouts/default

block content
	#timeline.container: .jumbotron

		h3 Ligne du temps
		p Cette ligne du temps recence les grandes étapes et les faits d'armes des BN.

		h3.today: center
			| Aujourd'hui
			br
			=dateformat(today, "fullDate")

		.timeline
			.timeline-path
			each entry, i in data
				if i % 2 == 1
					.timeline-item--offset
				.timeline-item(class=i % 2 == 1 ? 'timeline-item--even' : 'timeline-item--odd')
					.timeline-item-node
					.timeline-item-inner
						h6.text-caps.text-danger #{dateformat(entry.startDate, "fullDate")} 
						if entry.vignette
							img(src=entry.vignette).vignette
						h4= entry.title
						=entry.summary
						if entry.presence && entry.presence.length
							.presence: a(data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content=entry.presencetext)
								| #{entry.presence.length} BNs étaient présents ce jour là. 
								if entry.realDate
									i (#{dateformat(entry.realDate, "dd-mm-yyyy")})


block js
	script(src='/js/timeline/timeline.js')
