extends ../../layouts/default

include ../widget/markdown_editor

block content
	#account-page.container: .jumbotron

		.row
			.col.col-md-2.avatar-container
				img.avatar(src="/images/avatar-" + user.key + "?default=avatar")
			.col.col-md-8
				h2 Compte: #{user.username}
				h4 Clé de compte: #{user.key}

		hr
		h3 Paramètres du compte
		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Adresse email 
					input.form-control(type="email" value=user.email id="parameters-field-email")
			.col.col-md-6
				.input-group
					span.input-group-addon Nom d'utilisateur 
					input.form-control(type="text" value=user.username id="parameters-field-username")

		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Pays - Ville
					input.form-control(type="text" value=user.personnal.city id="parameters-field-city")
			.col.col-md-6
				.input-group
					span.input-group-addon Date de naissance
					input#parameters-field-birthday.form-control(type='text' value=dateformat(user.personnal.birthday, "DD/MM/YYYY"))
		.row
			.col.col-md-12
				.input-group
					span.input-group-addon Changer d'avatar
					input.form-control(type="file" id="parameters-field-avatar")

		.row
			.col.col-md-12
				.input-group
					span.input-group-addon Signature forum 
					+editor("parameters-field-sign", 5, nil, user.sign, true)

		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Handle Steam
					input.form-control(type="text" value=user.personnal.steam id="parameters-field-steam")
			.col.col-md-6
				.input-group
					span.input-group-addon Handle Origin
					input.form-control(type="text" value=user.personnal.origin id="parameters-field-origin")
		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Handle Uplay
					input.form-control(type="text" value=user.personnal.uplay id="parameters-field-uplay")
			.col.col-md-6
				.input-group
					span.input-group-addon Handle Battle.net
					input.form-control(type="text" value=user.personnal.bnet id="parameters-field-bnet")

		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Handle Discord*
					input.form-control(type="text" value=user.personnal.discord id="parameters-field-discord" placeholder="Du genre Pseudo#Numero")
		small: i * Le handle Discord permettra au bot BN de vous notifier par MP.

		.save-zone
			bouton.btn.btn-default(id="parameters-save-button") Enregistrer paramètres du compte

		hr
		h3 Changer de mot de passe
		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Nouveau mot de passe
					input.form-control(type="password" id="password-field")
			.col.col-md-6
				.input-group
					span.input-group-addon Confirmer mot de passe
					input.form-control(type="password" id="password-confirm")

		.save-zone
			bouton.btn.btn-default(id="password-save-button") Enregistrer mot de passe

		hr
		h3 Paramètres des jeux
		div
			ul.nav.nav-tabs(role='tablist')
				li.active(role='presentation')
					a(href='#sc', aria-controls='sc', role='tab', data-toggle='tab') Star Citizen

			.tab-content
				#sc.tab-pane.active(role='tabpanel')
					.alert.alert-bn
						.input-group
							span.input-group-addon Je joue à Star Citizen
							span.input-group-addon
								if user.starCitizen.isSC
									input(type="checkbox" id="sc-field-check" checked)
								else
									input(type="checkbox" id="sc-field-check")

						.sc
							.row
								.col.col-md-6
									.input-group
										span.input-group-addon Prénom du personnage
										input.form-control(type="text" value=user.starCitizen.character.first id="sc-field-first")
								.col.col-md-6
									.input-group
										span.input-group-addon Nom du personnage
										input.form-control(type="text" value=user.starCitizen.character.last id="sc-field-last")

							.row
								.col.col-md-12
									.input-group
										span.input-group-addon Handle RSI
										input.form-control(type="text" value=user.starCitizen.handle id="sc-field-handle" placeholder="Ton handle SANS la partie https://robertsspaceindustries.com/citizens/")

							.row
								.col.col-md-12
									.input-group
										span.input-group-addon Occupations (Max 3)
										select.form-control(id="select-jobs" multiple="multiple")
											each job in jobs
												if user.starCitizen.jobs && user.starCitizen.jobs.indexOf(job.id) !== -1
													option(value=job.id selected)= job.name
												else
													option(value=job.id)= job.name

							.row
								.col.col-md-12
									.input-group
										span.input-group-addon Vaisseaux
										select.form-control(id="select-ships" multiple="multiple")
											each ship in ships
												if user.starCitizen.ships && user.starCitizen.ships.indexOf(ship.id) !== -1
													option(value=ship.id selected)= ship.name
												else
													option(value=ship.id)= ship.name

							.row
								.col.col-md-12
									.input-group
										span.input-group-addon Description / Histoire 
											sup 1
										+editor("sc-field-description" , 10, nil, user.starCitizen.description, true)
									sup 1 
									small (bg de perso, casier judiciaire, dossier psychologique, etc... faites vous plaisir)

		.save-zone
			bouton.btn.btn-default(id="sc-save-button") Enregistrer paramètres des jeux

block js
	script(src="/compiled/AccountLogic_client.js")
