extends ../../layouts/default

block content
	#account-page.container: .jumbotron
		
		.row
			.col.col-md-2.avatar-container
				img.avatar(src="/images/avatar-"+user.key)
			.col.col-md-8
				h2 Compte: #{user.username}
				h4 Clé de compte: #{user.key}

		hr
		h3 Paramètres du compte
		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Adresse email (*)
					input.form-control(type="email" value=user.email id="parameters-field-email")
			.col.col-md-6
				.input-group
					span.input-group-addon Nom d'utilisateur (*)
					input.form-control(type="text" value=user.username id="parameters-field-username")
					
		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Pays - Ville
					input.form-control(type="text" value=user.personnal.city id="parameters-field-city")
			.col.col-md-6
				.input-group
					span.input-group-addon Date de naissance
					input.form-control(disabled type="text" value=dateformat(user.personnal.birthday, "dd-mm-yyyy") id="parameters-field-birthday" placeholder="Format: jour-mois-année")
		
		.row
			.col.col-md-12
				.input-group
					span.input-group-addon Signature forum
					textarea.form-control(id="parameters-field-sign")= user.sign
				
		.row
			.col.col-md-12
				.input-group
					span.input-group-addon Changer d'avatar
					input.form-control(type="file" id="parameters-field-avatar")
					
		.save-zone
			bouton.btn.btn-success(id="parameters-save-button") Enregistrer
		
		hr
		h3 Changer de mot de passe
		.row
			.col.col-md-6
				.input-group
					span.input-group-addon Nouveau mot de passe
					input.form-control(type="password" id="password-field")
			.col.col-md-6
				.input-group
					span.input-group-addon Confirmer mot de passe
					input.form-control(type="password" id="password-confirm")

		.save-zone
			bouton.btn.btn-success(id="password-save-button") Enregistrer
		
		hr
		h3 Paramètres de Star Citizen
		.input-group
			span.input-group-addon Je joue à Star Citizen
			span.input-group-addon
				if user.starCitizen.isSC
					input(type="checkbox" id="sc-field-check" checked)
				else
					input(type="checkbox" id="sc-field-check")

		.sc
			.row
				.col.col-md-6
					.input-group
						span.input-group-addon Prénom du personnage
						input.form-control(type="text" value=user.starCitizen.character.first id="sc-field-first")
				.col.col-md-6
					.input-group
						span.input-group-addon Nom du personnage
						input.form-control(type="text" value=user.starCitizen.character.last id="sc-field-last")

			.row
				.col.col-md-12
					.input-group
						span.input-group-addon Occupations
						select.form-control(id="select-jobs" multiple="multiple")
							each job in jobs
								if user.starCitizen.jobs.indexOf(job.id) !== -1
									option(value=job.id selected)= job.name
								else
									option(value=job.id)= job.name
			
			.row
				.col.col-md-12
					.input-group
						span.input-group-addon Vaisseaux
						select.form-control(id="select-ships" multiple="multiple")
							each ship in ships
								if user.starCitizen.ships.indexOf(ship.id) !== -1
									option(value=ship.id selected)= ship.name
								else
									option(value=ship.id)= ship.name
							
			.row
				.col.col-md-12
					.input-group
						span.input-group-addon Description / Histoire
						textarea.form-control(rows=10 id="sc-field-description")= user.starCitizen.description
		
		
		.save-zone
			bouton.btn.btn-success(id="sc-save-button") Enregistrer

block js
	link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css', rel='stylesheet')
	link(href='https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css', rel='stylesheet')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js')
	script(src="/js/notify.min.js")
	script(src="/compiled/AccountLogic_client.js")
