extends ../../layouts/default

block content
	#article.container: .jumbotron

		h3 #{article.name} #[small #{article.publish.category}]
		.author
			a(href="/forum-topic/" + article.key)
				| #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #[b #{article.createdBy && article.createdBy.username || "?"}]
		a(href="/forum-topic/" + article.key).thumbnail
			.image(style="background-image: url(/images/article-" + article.key + ");")
		p!= article.first.content
		hr
		- const createdBy = article.createdBy;
		.row.alert.alert-bn
			if createdBy.description
				.col.col-sm-2
					img.avatar(src="/images/avatar-" + createdBy.key + "?default=avatar")
			.col.col-sm-10
				h4 Cet article a été écrit par : 
					a(href="/member/" + (createdBy && createdBy.key || "?")): b #{createdBy && createdBy.username || "?"}
				if createdBy.description
					.description: i "#{createdBy.description}"
							
		h5 #{article.stats.replies} commentaires
		
		.comments
			each message in mess
				.alert.alert-info
					- const createdBy = message.createdBy;
					a(href="/member/" + (createdBy && createdBy.key || "?")): b #{createdBy && createdBy.username || "?"}
					|  dit :
					br
					!=message.content
		hr
		a(href="/forum-topic/" + article.key + "#message-last").btn.btn-default Laisser un commentaire via le forum
