extends ../../layouts/default

block content
	#article.container: .jumbotron

		h3=article.name
		.image(style="background-image: url(/images/article-" + article.key + ");")
		a(href="/forum-topic/" + article.key): b
			| #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #{article.createdBy.username}
		p!= article.first.content
		hr
		h4
			| Cet article a été écrit par : 
			a(href="/member/" + article.createdBy.key): b #{article.createdBy.username}
		h5 #{article.stats.replies} commentaires
		
		each message in mess
			.alert.alert-info
				a(href="/member/" + message.createdBy.key): b #{message.createdBy.username}
				|  dit :
				br
				!=message.content
		hr
		a(href="/forum-topic/" + article.key + "#message-last").btn.btn-primary Laisser un commentaire via le forum
