extends ../../layouts/default

block content
	#article.container: .jumbotron

		h3=article.name
		a(href="/forum-topic/" + article.key).thumbnail
			.image(style="background-image: url(/images/article-" + article.key + ");")
		a(href="/forum-topic/" + article.key): b
			| #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #{article.createdBy && article.createdBy.username || "?"}
		p!= article.first.content
		hr
		h4
			| Cet article a été écrit par : 
			- const createdBy = article.createdBy;
			a(href="/member/" + (createdBy && createdBy.key || "?")): b #{createdBy && createdBy.username || "?"}
		h5 #{article.stats.replies} commentaires
		
		each message in mess
			.alert.alert-info
				- const createdBy = message.createdBy;
				a(href="/member/" + (createdBy && createdBy.key || "?")): b #{createdBy && createdBy.username || "?"}
				|  dit :
				br
				!=message.content
		hr
		a(href="/forum-topic/" + article.key + "#message-last").btn.btn-default Laisser un commentaire via le forum
