extends ../../layouts/default

block content
	#articles.container: .jumbotron

		h3 Archives des articles

		.alert.alert-bn
			h4 Filtres
			.row
				.col.col-md-6
					.input-group
						span.input-group-addon Par auteur
						select.form-control(id="articles-filter-author" multiple)
							each username in usernames
								- const author = authors[username];
								option(value=author.id) #{author.username}
				.col.col-md-6
					.input-group
						span.input-group-addon Par catégorie
						select.form-control(id="articles-filter-category" multiple)
							option(value="sc") Star Citizen
							option(value="jv") Jeux vidéo
							option(value="hd") Hardware
							option(value="bn") Bad Neighbor

			.row(style="margin-top: 5px;")
				.col.col-md-12
					button.btn.btn-default.btn-block#articles-confirm Filtrer


		if articles && articles.length
			- const years = {};
			each article in articles
				- const year = dateformat(article.publish.date, "yyyy")
				if !years[year]
					center: h3 #{year}
					- years[year] = true;
				h4
					a(href="/article/" + article.key)= article.name
					small #{article.publish.category}
					.right
						a(href="/article/" + article.key)
							b #{dateformat(article.publish.date, "dd mmm yyyy H:MM")} | #{article.stats.replies} commentaires
						if article.createdBy && article.createdBy.username
							|  | Posté par 
							a(href="/member/" + article.createdBy.key)
								b #{article.createdBy.username}
				hr
		else
			center.alert.alert-info Pas encore d'article, repassez plus tard !

block js
	script(src="/libs/domurl/url.min.js")
	script(src="/compiled/ArticlesLogic_client.js")
