extends ../../layouts/default

include ../widget/markdown_editor
	
block content
	.container: .jumbotron
		if !data
			center.alert.alert-info
				p Cette page générique n'a pas encore été configurée
		else
			h1=data.name
			div!=data.contenu

		if user && rightKeysSet.has("generic-content")
			.alert.alert-bn
				a.btn.btn-default(role="button" data-toggle="collapse" href="#collapse-content" aria-expanded="false" aria-controls="collapseExample") Administration de la page
				.collapse#collapse-content
					p
						.form-group
							label Titre
							input#generic-title(type='text').form-control
						
						.form-group
							label Contenu
							+editor("generic-content", 30)

						if rightKeysSet.has("image-library")
							.btn-group.pull-right
								a.btn.btn-default.btn-group-sm(onclick="window.open('/library', '_blank'); return false;") Librairie d'images
								
						.form-actions
							button#save-button(section=section).btn.btn-default Sauvegarder
							button#delete-button(section=section).btn.btn-danger Supprimer la page

block js
	if user && rightKeysSet.has("generic-content")
		script.
			const genericData = !{data_json};
		script(src="/compiled/GenericLogic_client.js")
