extends ../../layouts/default

block content
	.container
		
		.main
			#row1.row
				.col.col-md-8
					if articles
						each article, count in articles
							if count === 0 || count === 1
								.article
									if article.publish && article.publish.animated
										.normal(style="background-image: url(/images/article-" + article.key + ");")
										.anim(style="background-image: url(/images/article-anim-" + article.key + ");")
									else
										.static(style="background-image: url(/images/article-" + article.key + ");")
									a(href="/article/" + article.key).inner
										.title
											h3= article.publish.title

										.sub
											b #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #{article.createdBy && article.createdBy.username || "?"}
				
						
						
				.col.col-md-4
					if articles
						each article, count in articles
							if count > 1 && count < 6
								.article.secondary
									if article.publish && article.publish.animated
										.normal(style="background-image: url(/images/article-" + article.key + ");")
										.anim(style="background-image: url(/images/article-anim-" + article.key + ");")
									else
										.static(style="background-image: url(/images/article-" + article.key + ");")
									a(href="/article/" + article.key).inner
										.title
											h3= article.publish.title

										.sub
											b #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #{article.createdBy && article.createdBy.username || "?"}
			
			.forum-direct
				.intro En direct du forum
				.row
					.col.col-md-4
						.selection
							p Sélection Star Citizen
							ul
								li: a Présentation Gladius
								li: a Les trucs qui font pew-pew
								li: a Stratégies de combat
						
					.col.col-md-4
						.selection.alt
							p Sélection Jeux vidéo
							ul
								li: a PlayerUnknown's Battleground
								li: a Battlefront 2 c'est de la merde
								li: a World of Warchibre
						
					.col.col-md-4
						.selection
							p Sélection Hardware
							ul
								li: a Zilio il veut péter sa partition
								li: a Lesym achète une 1080 GTX
								li: a Dashan est riche
				
			.row
				.col.col-md-8
					if articles
						each article, count in articles
							if count > 5
								.article
									.static(style="background-image: url(/images/article-" + article.key + ");")
									a(href="/article/" + article.key).inner
										.title
											h3= article.publish.title

										.sub
											b #{dateformat(article.createdAt, "dd mmmm yyyy")} | #{article.stats.replies} commentaires | Posté par #{article.createdBy && article.createdBy.username || "?"}

				.col.col-md-4
					
