extends ../../layouts/default

block content

	#members.container: .jumbotron
		if user && user.id === member.id
			a.edit.btn.btn-default.btn-sm(href="/account") Modifier mes informations

		.row
			.col.col-md-2.avatar-container
				img.avatar(src="/images/avatar-" + member.key + "?default=avatar")
			.col.col-md-8
				h2.username= member.username
				p
					- let ok = false;
					each group in member.permissions.groups
						if group.isBN && !ok
							- ok = true;
							span.label.label-success(style="background-color: " + group.color + ";")= group.name

				if member.personnal && member.personnal.city
					div
						b Ville - région: 
						| #{member.personnal.city}

				if member.personnal && member.personnal.birthday
					div
						b Anniversaire: 
						| #{dateformat(member.personnal.birthday, "dd mmmm yyyy")}

				div
					b Inscription: 
					| #{dateformat(member.createdAt, "dd mmmm yyyy - HH:MM")}
				if member.connectDate
					div
						b Dernière activité sur le site: 
						| #{dateformat(member.connectDate, "dd mmmm yyyy - HH:MM")}

		if member.personnal.steam || member.personnal.uplay || member.personnal.bnet || member.personnal.origin
			hr
			.row
				if member.personnal.steam
					.col.col-sm-3
						span #[i.fab.fa-steam] Steam: #[a(href="http://steamcommunity.com/id/" + member.personnal.steam target="_blank" title="Steam") #{member.personnal.steam}]
				if member.personnal.uplay
					.col.col-sm-3
						span #[i.far.fa-play-circle] Uplay: #[b #{member.personnal.uplay}]
				if member.personnal.bnet
					.col.col-sm-3
						span #[i.fa.fa-gamepad] Battle.net: #[b #{member.personnal.bnet}]
				if member.personnal.origin
					.col.col-sm-3
						span #[i.fab.fa-superpowers] Origin: #[b #{member.personnal.origin}]
		if member.presence
			hr
			| #[i.fab.fa-discord] Discord: #[b #{member.personnal.discord}]&nbsp;
			if member.presence.status === "online"
				b.discord-status(style="color: green;") &nbsp;-&nbsp; En ligne
			else if member.presence.status === "dnd"
				b.discord-status(style="color: red;") &nbsp;-&nbsp; Occupé
			else if member.presence.status === "idle"
				b.discord-status(style="color: orange;") &nbsp;-&nbsp; Absent
			if member.presence.game
				| &nbsp;&nbsp;-&nbsp; Actuellement sur&nbsp;
				b #{member.presence.game.name}
		
		if member.sign
			hr
			div!= member.sign
		
		hr
		h3 Décorations
		if member.medals && member.medals.length
			each medal in member.medals
				a.topopover.center(data-toggle="popover" data-trigger="focus" title=medal.name data-content=medal.description href="#")
					img(src=medal.icon title="Clique pour afficher les infos").medal
					br
					span= medal.name
		else
			p Cet utilisateur n'a reçu aucune décoration

		if member.starCitizen.isSC
			hr
			div
				ul.nav.nav-tabs(role='tablist')
					if member.starCitizen.isSC
						li.active(role='presentation')
							a(href='#sc', aria-controls='sc', role='tab', data-toggle='tab') Star Citizen
	
				// Tab panes
				.tab-content
					if member.starCitizen.isSC
						#sc.tab-pane.active(role='tabpanel')
							.alert.alert-bn
								h3
									img(src="/images/star_citizen.png" title="Star Citizen")
									|  #{member.starCitizen.character.first} #{member.starCitizen.character.last}
			
								if member.starCitizen.handle
									h5: b Handle RSI:
									a(href="https://robertsspaceindustries.com/citizens/" + member.starCitizen.handle target="_blank")
										i.fa.fa-link
										|  #{member.starCitizen.handle}
			
								h5: b Occupation: 
								if member.starCitizen.jobs
									each job in member.starCitizen.jobs
										span.label.label-warning= job.name
								else
									| Aucune
								if member.starCitizen.description
									h5: b Histoire: 
									p!= member.starCitizen.description
			
								if user && user.isBN
									h5: b Hangar #[small (visible uniquement par les BN)]:
									if member.starCitizen.ships
										each ship in member.starCitizen.ships
											span.label.label-primary= ship.name
									else
										| Vide

		hr
		.row
			.col.col-md-6
				ul.list-group
					.list-group-item
						h4 Derniers sujets
						ul
							each topic in topics
								li
									a(href="/forum-topic/" + topic.key): b= topic.name
									|  - #{dateformat(topic.createdAt, "dd/mm/yyyy HH:MM")}

			.col.col-md-6
				ul.list-group
					.list-group-item
						h4 Derniers messages
						ul
							each m in mess
								li
									- const croped = m.content.substring(0, 40) + (m.content.length < 30 ? "" : "...");
									i "#{croped}" 
									| -  
									a(href="/forum-topic/" + m.topic.key): b= m.topic.name
									|  - #{dateformat(m.createdAt, "dd/mm/yyyy HH:MM")}
								
		if user && user.permissions.isAdmin
			hr
			h2 Administration et modération #[small visible uniquement par les admin]
			p
				a.edit-admin.btn.btn-warning.btn-sm(href="/keystone/users/" + member.id target="_blank") Modifier l'utilisateur dans l'admin
			.row
				.col.col-md-6
					ul.list-group
						.list-group-item
							h4 IP utilisées (via messages forum)
							ul
								each ip in ips
									if ip
										li= ip

block js
	script.
		$('.topopover').click(function (e) {
			e.preventDefault()
		}).popover();
