extends ../../layouts/default

block content

	#members.container: .jumbotron
		if user.id === member.id
			a.edit.btn.btn-primary.btn-sm(href="/account") Modifier mes informations
		if user.permissions.isAdmin
			a.edit-admin.btn.btn-warning.btn-sm(href="/keystone/users/" + member.id target="_blank") Modifier dans l'admin
			
		.row
			.col.col-md-2.avatar-container
				img.avatar(src="/images/avatar-" + member.key)
			.col.col-md-8
				h2.username= member.username
				p
					each group in member.permissions.groups
						if group.isBN
							| &nbsp;
							span.label.label-success(style="background-color: " + group.color + ";")= group.name
						
				if member.personnal && member.personnal.city
					div
						b Ville - région: 
						| #{member.personnal.city}
					
				if member.personnal && member.personnal.birthday
					div
						b Anniversaire: 
						| #{dateformat(member.personnal.birthday, "dd mmmm yyyy")}
					
				div
					b Inscription: 
					| #{dateformat(member.createdAt, "dd mmmm yyyy - HH:MM")}
				if member.connectDate
					div
						b Dernière connexion: 
						| #{dateformat(member.connectDate, "dd mmmm yyyy - HH:MM")}
		hr
		div!= member.sign

		if member.starCitizen.isSC
			hr
			h3
				img(src="/images/star_citizen.png" title="Personnage Star Citizen")
				|  #{member.starCitizen.character.first} #{member.starCitizen.character.last}
			h5: b Occupation: 
			each job in member.starCitizen.jobs
				| &nbsp;
				span.label.label-warning= job.name

			if member.starCitizen.description
				h5: b Histoire: 
				p!= member.starCitizen.description

			h5: b Hangar:
			each ship in member.starCitizen.ships
				| &nbsp;
				span.label.label-primary= ship.name
		hr
		.row
			.col.col-md-6
				ul(class="list-group")
					.list-group-item
						h4 Derniers sujets
						ul
							each topic in topics
								li
									a(href="/forum-topic/" + topic.key): b= topic.name
									|  - #{dateformat(topic.createdAt, "dd/mm/yyyy HH:MM")}
								
			.col.col-md-6
				ul(class="list-group")
					.list-group-item
						h4 Derniers messages
						ul
							each m in mess
								li
									- const croped = m.content.substring(0, 40) + (m.content.length < 30 ? "" : "...");
									i "#{croped}" 
									| -  
									a(href="/forum-topic/" + m.topic.key): b= m.topic.name
									|  - #{dateformat(m.createdAt, "dd/mm/yyyy HH:MM")}
