mixin editor(id, rows, placeholder, value, embed)
	.editor-md(class=(embed ? "embedable" : ""))

		.modal.fade(role='dialog' id=id + "-gifs-modal")
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal') ×
						h4.modal-title Résultats recherche GIFs
					.modal-body
						p Cliquez sur un gif pour l'intégrer au contenu de votre texte.
						div(id=id + "-gifs-modal-container")

		.editor-wrapper
			.btn-group.btn-group-sm.editor-toolbar(role='group').form-inline
				a.btn.btn-link(href="/content/guide-markdown" target="_blank") Aide sur la mise en page Markdown
				button.btn.btn-primary.tool-yt(type='button') Vidéo Youtube
				button.btn.btn-default.tool-straw(type='button') Sondage Strawpoll
				a.btn.btn-link.emoji-smile 😄
				a.btn.btn-link.emoji-rofl 🤣
				a.btn.btn-link.emoji-poop 💩
				a.btn.btn-link.btn-sm(href="https://www.emojicopy.com/" target="_blank") Plus d'emoji...
				input.form-control.input-sm(type='text' placeholder="Rechercher gifs..." id=id + "-gifs")

			textarea(id=id rows=rows placeholder=placeholder).form-control= value
		div(id=id + "-preview" style="min-height: " + (rows * 21) + "px;").preview
		.row
			.col.col-md-12(style="text-align: right;")
				button(id=id + "-preview-b").btn.btn-link Aperçu
